body {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.home {
    background-position: center;
    background-size: cover;
    background-image: url('cafe2.jpg');
    min-height: 75%;
}
.menu {
    display: none;
}

.imagecafe {
  width:100%;
  max-width:1000px
}
