

body {
    height: 100%;
    font-family: 'Inconsolata', sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;

    min-height: 75%;
}

.imagecafe {
  width:100%;
  max-width:1000px;
}

.menu {
    display: none;
}

.w3-text-white {
  font-size:90px;
}
