

body {
    height: 100%;
    font-family: 'Inconsolata', sans-serif;
}
.bgimg w3-display-container w3-grayscale-min {
    background-position: center;
    background-size: cover;
    background-image: 'url('+ header.jpg + ')';
    min-height: 75%;
}

.imagecafe {
  width:100%;
  max-width:1000px;
}

.menu {
    display: none;
}

.w3-text-white {
  font-size:90px;
}
